@import 'reset.css';
.head {
  background: #fafafa;
}
.head > div {
  *zoom: 1;
  width: auto;
  max-width: 1400px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.head > div:before,
.head > div:after {
  content: '';
  display: table;
}
.head > div:after {
  clear: both;
}
.head .logo {
  float: left;
  width: 50%;
  margin-top: 15px;
}
@media only screen and (max-width: 675px) {
  .head .logo {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .head .logo:first-child {
    margin-left: auto;
  }
  .head .logo:last-child {
    margin-right: auto;
  }
}
.head .logo img {
  height: 40px;
}
.head nav {
  float: left;
  width: 50%;
  text-align: right;
  overflow: hidden;
}
@media only screen and (max-width: 675px) {
  .head nav {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .head nav:first-child {
    margin-left: auto;
  }
  .head nav:last-child {
    margin-right: auto;
  }
}
.head nav a {
  font-size: 12px;
  font-weight: bold;
  float: right;
  text-decoration: none;
  border-bottom: 5px solid;
  padding: 25px 15px;
  text-align: center;
  color: #474747;
}
@media only screen and (max-width: 675px) {
  .head nav a {
    float: none;
    margin-left: 20px;
    border-bottom: 0;
    padding: 10px;
  }
}
.head nav a:nth-child(1) {
  border-color: #99f;
}
.head nav a:nth-child(2) {
  border-color: #fff2b3;
}
.head nav a:nth-child(3) {
  border-color: #ffff80;
}
.masthead {
  background: #f0f0f0;
  height: 500px;
}
