<template name="browse">
  <div>
    <h1>Browse Streams</h1>

    <input type="text" placeholder="Search by category" class="search-category">

    <div class="browse-streams">

      <img src="http://placekitten.com/505/303" alt="name of stream">
      <img src="http://placekitten.com/505/303" alt="name of stream">
      <img src="http://placekitten.com/505/303" alt="name of stream">
      <img src="http://placekitten.com/505/303" alt="name of stream">
      <img src="http://placekitten.com/505/303" alt="name of stream">
      <img src="http://placekitten.com/505/303" alt="name of stream">
      <img src="http://placekitten.com/505/303" alt="name of stream">
      <img src="http://placekitten.com/505/303" alt="name of stream">
      <img src="http://placekitten.com/505/303" alt="name of stream">
      <img src="http://placekitten.com/505/303" alt="name of stream">
      <img src="http://placekitten.com/505/303" alt="name of stream">
      <img src="http://placekitten.com/505/303" alt="name of stream">
      <img src="http://placekitten.com/505/303" alt="name of stream">
      <img src="http://placekitten.com/505/303" alt="name of stream">
      <img src="http://placekitten.com/505/303" alt="name of stream">

    </div>

  </div>
</template>