<template name="stream">
  <div>
    <h1>JohnSmith's Stream</h1>

    <div class="stream-content">

      <div class="stream">
        <img class="streamer" src="http://placekitten.com/2000/1125" alt="user's stream">
        <div class="stream-description">
          <h3>Stream Description</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quae, recusandae architecto excepturi ea minima eum labore sunt illo mollitia, quam, vel accusamus autem, harum in porro ex nam. Accusantium.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quae ex odio. Dolores consectetur natus vel in ex labore accusantium quod quaerat hic numquam, accusamus doloribus dolorum quasi iste animi.
          </p>
        </div>
      </div>

      <div class="stream-chat">
        <div class="chat">

          <table>
            <tr>
              <td class="chatter">CorySimmons:</td>
              <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, reprehenderit.
              </td>
            </tr>
            <tr>
              <td class="chatter">DrewHart:</td>
              <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, facilis, placeat. At eos ea atque ipsam ipsum magni blanditiis animi sed asperiores delectus, quaerat laudantium quos accusamus nostrum facilis sequi!
              </td>
            </tr>
            <tr>
              <td class="chatter">CorySimmons:</td>
              <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, reprehenderit.
              </td>
            </tr>
            <tr>
              <td class="chatter">DrewHart:</td>
              <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, facilis, placeat. At eos ea atque ipsam ipsum magni blanditiis animi sed asperiores delectus, quaerat laudantium quos accusamus nostrum facilis sequi!
              </td>
            </tr>
            <tr>
              <td class="chatter">CorySimmons:</td>
              <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, reprehenderit.
              </td>
            </tr>
            <tr>
              <td class="chatter">DrewHart:</td>
              <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, facilis, placeat. At eos ea atque ipsam ipsum magni blanditiis animi sed asperiores delectus, quaerat laudantium quos accusamus nostrum facilis sequi!
              </td>
            </tr>
          </table>

        </div>
        <input class="user-chat" placeholder="Enter text and hit enter">
      </div>

    </div>

  </div>
</template>