@import 'reset.css'
@import url(http://fonts.googleapis.com/css?family=Open\+Sans:400,600,700,300);

bp = 680px
gutter = 20px
color1 = darken(white, 2%)
color2 = darken(white, 10%)
color3 = #956cc4

html, body
  height: 100%
  line-height: 1.5
  font-weight: 100
  font-family: 'Open Sans', sans-serif

.wrap
  height: 100vh
  display: flex
  flex-direction: column

main
  flex: 1
  display: flex
  @media (max-width: bp)
    flex-direction: column

*
  box-sizing: border-box

.menu
  float: right
  height: (gutter * 3)
  width: (gutter * 3)
  line-height: (gutter * 3)
  border: 0
  background: color3
  color: white
  outline: none
  &:hover
    background: lighten(color3, 5%)
  span
    width: 30px
    height: 3px
    margin: 5px auto
    background: white
    display: block

.primary-nav
  display: none
  box-shadow: 0 0 15px 0 rgba(black, 20%)
  position: relative
  a
    display: block
    text-decoration: none
    text-align: center
    padding: 10px 0
    color: white
    border-bottom: 1px solid darken(color3, 5%)
    font-size: .85rem
    background: color3
    &:hover
      background: lighten(color3, 10%)

header, footer
  position: relative
  z-index: 1
  height: (gutter * 3)
  background: white
  line-height: (gutter * 3)
  padding: 0 gutter
  box-shadow: 0 0 15px 0 rgba(black, 20%)

header
  padding-right: 0

.video-area
  flex: 2
  overflow-y: scroll
  border-bottom: 1px solid darken(color1, 10%)

.chat
  flex: 1
  display: flex
  font-size: .75rem
  border-bottom: 1px solid color2
  background: color1
  > div
    overflow-y: scroll
    width: 100%
  table
    width: 100%
    td
      vertical-align: top
      padding: (gutter / 2)
      border-bottom: 1px solid color2
      &:first-child
        font-weight: bold
        padding-right: 0

.input
  flex: 1
  font-size: .75rem
  padding: (gutter / 2)
  background: white
  max-height: 38px
  border: 0
  outline: none

.chat-area
  flex: 1
  display: flex
  flex-direction: column
  max-width: 33.33333%
  @media (max-width: bp)
    max-width: 100%

.vid
  height: (100 * (9/16))vw
  @media (min-width: bp)
    height: (66.66666 * (9/16))vw
  iframe
    width: 100%
    height: (100 * (9/16))vw
    @media (min-width: bp)
      height: (66.66666 * (9/16))vw

.video-area
  padding: gutter

h1
  margin: 0 0 .5rem

header
  overflow: hidden
  img
    float: left
    height: 40px
    margin-top: 10px
